* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0F172A;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 500px;
    background-color: #111827;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    border: 1px solid rgba(254, 167, 52, 0.15);
}

.card h1 {
    color: #FEA734;
    margin-bottom: 10px;
    font-size: 24px;
}

.card p {
    color: #E5E7EB;
    margin-bottom: 20px;
}

.saldo {
    background-color: #1F2937;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
    text-align: center;
    border: 1px solid rgba(254, 167, 52, 0.2);
}

.saldo h2 {
    font-size: 16px;
    color: #9CA3AF;
    margin-bottom: 10px;
}

.saldo h3 {
    font-size: 28px;
    color: #FEA734;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu a {
    text-decoration: none;
    background-color: #1F2937;
    padding: 14px;
    border-radius: 12px;
    text-align: center;
    color: white;
    transition: 0.3s;
    border: 1px solid transparent;
}

.menu a:hover {
    background-color: #FEA734;
    color: #111827;
    font-weight: bold;
}